<div class="page-header">
    <h1>Add Item to Stock</h1>
</div>
<form class="form-horizontal" ng-submit="shop.saveShop()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Shop Owner</label>
        <select class="col-sm-4 form-control" style="margin-left: 15px; width: 29%;" ng-model="shop.shopData.shopOwner">
            <option ng-repeat="npc in shop.npcs">{{ npc.name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Item</label>
        <select class="col-sm-4 form-control" style="margin-left: 15px; width: 29%;" ng-options="item.name for item in shop.items" ng-model="shop.shopData.item"></select>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Item Price</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="shop.shopData.price">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-success btn-lg btn-block">
                Add Item
            </button>
        </div>
    </div>
</form>
<div class="row show-hide-message" ng-show="shop.message">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="alert alert-info">
            {{ shop.message }}
        </div>
    </div>
</div>