<div class="page-header">
    <h1>
        Spells
        <a href="/spells/create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Spell
        </a>
        <!---->
    </h1>
</div>
<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="spell.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Items...</p>
</div>
<table class="table table-bordered table-striped" ng-show="spell.spells">
    <thead>
        <tr>
            <th>Spell ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Cost</th>
            <th>Level</th>
            <th>Description</th>
            <th>Constitution Bonus</th>
            <th>Strength Bonus</th>
            <th>Dexterity Bonus</th>
            <th>Intelligence Bonus</th>
            <th>Health Restore</th>
            <th>Spell Damage</th>
            <th class="col-sm-1"></th>
            <!--<th class="col-sm-1"></th>-->
        </tr>
    </thead>
    <tbody>
        <!-- LOOP OVER THE SPELLS -->
        <tr ng-repeat="magic in spell.spells">
            <td>{{ magic._id }}</td>
            <td>{{ magic.name }}</td>
            <td>{{ magic.type }}</td>
            <td>{{ magic.cost }}</td>
            <td>{{ magic.level }}</td>
            <td>{{ magic.description }}</td>
            <td>{{ magic.constitution }}</td>
            <td>{{ magic.strength }}</td>
            <td>{{ magic.dexterity }}</td>
            <td>{{ magic.intelligence }}</td>
            <td>{{ magic.health }}</td>
            <td>{{ magic.damage }}</td>
            <td class="col-sm-1">
                <a ng-href="/spells/{{ magic._id }}" class="btn btn-danger">Edit</a>
            </td>
            <!--<td class="col-sm-1">
                <a href="#" ng-click="spell.deleteSpell(spell._id)" class="btn btn-primary">Delete</a>
            </td>-->
        </tr>
    </tbody>
</table> 